[Desktop Entry]
Name=System Config
GenericName=Open Config
Icon=system
Exec=/home/nary/scripts/app_launcher.sh config
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
