"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    disabledPackages: [
      "language-django"
    ]
  editor:
    invisibles: {}
  "vim-mode-plus":
    showHoverOnOperate: true
    showHoverSearchCounter: true
  emmet: {}
  "tool-bar":
    position: "Left"
  "python-tools": {}
  "autocomplete-python":
    pythonExecutable: "python3"
    pythonPath: "/usr/lib/python3.4"
    extraPaths: "/usr/local/lib/python3.4/dist-packages/django"
  "linter-pep8": {}
  "autocomplete-plus": {}
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "~/dev/mySite"
    ]
  "python-autopep8":
    maxLineLength: 80
